<div>
  <%= link_to "Logout", sessions_signout_path, :method => :post, :class => ["right", "btn"] %>
</div>

<div class="centered", style="clear: right;">
  <a class="btn">Join a League</a>
  <%= link_to "Create a New League", new_league_path, :class => "btn" %>
  
  <h3>My Teams</h3>
  <table>
  <% @user.teams.each do |team| %>
    <tr>
      <td><%= link_to team.name, team_path(team.id) %></td>
    </tr>
  <% end %>
</div>