<div>
  <%= link_to "Logout", sessions_signout_path, :method => :post, :class => ["right", "btn"] %>
</div>

<div class="centered", style="clear: right;">
  <a class="btn">Join a League</a>
  <a class="btn">Create a New League</a>
</div>