@import "bootstrap";

div.middle {
  max-width: 800px;
  margin: 0 auto;
}

div.centered {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.nopad {
  margin: 0px;
  padding: 0px;
}