@import "bootstrap";

div.middle {
  max-width: 600px;
  margin: 0 auto;
}

div.centered {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.center {
    text-align: center;
    margin: 0 auto;
}