// Place all the styles related to the drafts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.column {
  float: left;
  margin-right: 25px;
}

div.scrollbar {
  overflow-y: auto;
  height: 500px;
}

div.timer {
  margin-top: 60px;
}