// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.left {
  float: left;
}

div.clearleft {
  clear: left;
}

div {
  padding: 8px;
}